/* Main page */
body {
    font-family: 'Arial';
}

/* Buttons */
button {
    background-color: #495c9c;
    color: white;
    border: none;
    border-radius: 1;
}
button:hover {
    background-color: #5e73b9;
}
button:active {
    background-color: #8293c9;
}
/* Regular header */
h1 {
    color: #d2d9f1;
    font-size: 12px;
}
/* Sub header */
h2 {
    color: #9ca1b4;
    font-size: 12px;
}
/* Label */
label {
    color: #9ca1b4;
    font-size: 12px;
}
/* Hr */
hr.solid {
    border-top: 2px solid #8293c9;
}
/* Remove scroll bar */
.noScrollBar::-webkit-scrollbar{
    width: 0%;
}

/* Popups */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -5px;
}
.popup .show {
    visibility: visible;
}

/* Links */
a:link {
    color:#d2d9f1;
}
a:visited {
    color:#d2d9f1;
}
a:hover {
    color:#9ca1b4;
}
a:active {
    color:#9ca1b4;
}
